












/*-----------------------------------*\
  #RESET
\*-----------------------------------*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li { list-style: none; }

a {
  text-decoration: none;
  color: inherit;
}

a,
img,
span,
input,
strong,
button,
textarea,
ion-icon { display: block; }

img { height: auto; }

ion-icon {
  pointer-events: none;
  color: var(--white);
}

button,
input,
textarea {
  background: none;
  border: none;
  font: inherit;
}

button { cursor: pointer; }

input,
textarea { width: 100%; }

address { font-style: normal; }

html {
  font-size: 10px;
  font-family: var(--ff-open-sans);
  scroll-behavior: smooth;
}

body {
  
  background-color: #000000;
background-image: linear-gradient(147deg, #000000 0%, #04619f 74%);

  color: aliceblue;
  font-size: 1.6rem;
  line-height: 1.6;
  overflow-x: hidden;
}







/*-----------------------------------*\
  #REUSED STYLE
\*-----------------------------------*/

.container { padding-inline: 20px; }

.btn {
  color: var(--white);
  font-family: var(--ff-barlow);
  font-size: var(--fs-5);
  font-weight: var(--fw-600);
  max-width: max-content;
  padding: var(--padding, 10px 40px);
  border-radius: 50px;
  transition: var(--transition-2);
}

.btn-primary.blue { background-color: var(--klein-blue); }

.btn-primary.blue:is(:hover, :focus) { background-color: var(--orange-soda); }

.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section { padding-block: 12px; }

.section-subtitle {
  color: var(--orange-soda);
  font-family: var(--ff-barlow);
  font-size: var(--fs-4);
  text-align: center;

}
.section-subtitle1{
  color: var(--orange-soda);
  font-family: var(--ff-barlow);
  font-size: var(--fs-4);
  font-family: 'DotGothic16', sans-serif;
  font-weight: 900;
  text-align: left;
}
.h2,
.h3 {
  color: var(--white);
  font-family: var(--ff-barlow);
  font-weight: var(--fw-600);
  line-height: 1.3;
}

.h2-section-title{
  font-size: 50px;
  font-family: 'Press Start 2P', cursive;
  font-weight: 900;
  border-bottom: 1px solid var(--orange-soda);
}

.h2 { font-size: var(--fs-2); }

.h3 { font-size: var(--fs-3); }

.section-title,
.section-text { 
  text-align: center;
  font-family: 'DotGothic16', sans-serif;
}
.sectiontitle{
padding-bottom: 60px;
}




/*-----------------------------------*\
  #HEADER
\*-----------------------------------*/

.header {
  position: fixed;
  padding-block: px;
  width: 100%;
  background-color:#002138ab;
  height: 100px;
  box-shadow: var(--shadow);
  overflow: hidden;
  transition: 0.25s var(--cubic-out);
  z-index: 4;

}

.header.nav-active {
  height: 335px;
  transition-duration: 0.35s;
}

.header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: var(--white);
  font-family: var(--ff-poppins);
  font-size: 1.9rem;
  font-family: 'Press Start 2P', cursive;
}

.nav-toggle-btn { font-size: 3rem; }

.nav-toggle-btn .close-icon,
.nav-toggle-btn.active .menu-icon { display: none; }

.nav-toggle-btn.active .close-icon,
.nav-toggle-btn .menu-icon { display: block; }

.navbar {
  position: absolute;
  top: 65px;
  left: 0;
  width: 100%;
  padding-inline: 20px;
  visibility: hidden;
  opacity: 0;
  transition: var(--transition-2);
  
}

.header.nav-active .navbar {
  visibility: visible;
  opacity: 1;
  
}

.navbar-link {
  color: var(--white);
  font-family: var(--ff-barlow);
  padding-block: 3px;
  transition: var(--transition-1);
  font-family: 'DotGothic16', sans-serif;
  font-weight: 900;
}

.navbar-link:is(:hover, :focus) { 
  color: var(--orange-soda); 
}

.navbar .btn {
  background-color: var(--orange-soda);
  margin-block-start: 15px;
}


/*stalker野郎*/

#stalker {
  pointer-events: none;
  position: fixed;
  top: -8px;     
  left: -8px;    
  width: 16px;   
  height: 16px;  
  background: rgba(14, 110, 255, 0.705);
  border-radius: 50%;
  transition: transform 0.2s, top, 0.5s, left 0.5s, width .5s, height .5s, background-color .5s;
  transition-timing-function: ease-out;
  z-index: 999;
  &.hov_{
    top: -32px;     
    left: -32px;    
    width: 64px;
    height: 64px;
    transition: .5s;
    background: rgba(255, 0, 0, 0.4);
  }
}


/*-----------------------------------*\
  #HERO
\*-----------------------------------*/

.elem,
.rotate-img { display: none; }

.hero {
 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-block: 100px var(--section-padding);
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.hero-banner {
  width: 150px;
  height: 172px;
  
  border-radius: var(--radius-10);
  margin-inline: auto;
  margin-block-end: 30px;
}

.hero-banner img{
  border-radius: inherit;
  
}

.hero-content {
  text-align: center;
  color: var(--white);
  font-family: 'DotGothic16', sans-serif;
  font-weight: 900;
}

.hero-title {
  font-size: var(--fs-5);
  font-weight: var(--fw-600);
  line-height: 1.3;
  margin-block-end: 14px;
  font-family: 'Press Start 2P', cursive;
}
.hero-title span{
  color: var(--orange-soda);
}
.hero-title .span1{
  color: rgb(107, 107, 255);
  font-size: 18px;
}
.hero-title .span2{
  color: rgb(255, 0, 0);
  font-size: 20px;
}
.hero-title strong {
  font-size: 60px;
  font-weight: inherit;
  margin-block-end: 8px;
}

.hero-text { 
  margin-block-end: 25px;

 }

.btn-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}





/*-----------------------------------*\
  #ABOUT
\*-----------------------------------*/

.abs-img,
.abs-icon { 
  display: none;
 }
 

.about { 
  padding-block-start: 120px; 
 }

.about-banner {
  background-color: var(--independence);
  border-radius: var(--radius-10);
  margin-block-end: 30px;
}

.about-banner > .img-cover { 
  
   
}

.about :is(.section-title, .section-subtitle, .section-text) { text-align: left; }

.about :is(.section-title, .section-text) { 
  margin-block-end: 30px;
  font-weight: 900;
}




/*skillabout2*/
.wrapper1{
  width:100%;
}
.wrapper1 .containers{
  max-width:1000px;
  margin:0px auto;
  padding:80px 0px;
}
/* content */
@media (min-width: 992px) {
  .wrapper1 .containers .content {
      display: flex;
      align-items: center;
      justify-content: center;
  }
}
/* PC時のみ順番を入れ替える */
@media (min-width: 992px) {
  .wrapper1 .content {
      flex-direction:row-reverse;
  }
}
.wrapper1 .content-item {
  width:100%;
}
@media (min-width: 992px) {
  .wrapper1 .content-item {
      width:50%;
  }
}
.wrapper1 .image{
  display:block;
  max-width:100%;
  margin:0px auto;
  border-radius: 20px;
}
.wrapper1 .text{
  padding:50px;
}
.wrapper1 .text .heading{
  margin:0px 0px 40px 0px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
}
/*slillabout2*/
.wrapper2{
  width:100%;
}
.wrapper2 .container2{
  max-width:1000px;
  margin:0px auto;
  padding:20px 0px;
  margin-bottom: 70px;
}
/* content */
@media (min-width: 992px) {
  .wrapper2 .container2 .content2 {
      display: flex;
      align-items: center;
      justify-content: center;
  }
}
.wrapper2 .content-item2 {
  width:100%;
}
@media (min-width: 992px) {
  .wrapper2 .content-item2 {
      width:50%;
  }
}
.wrapper2 .image{
  display:block;
  max-width:100%;
  margin:0px auto;
  border-radius: 20px;
}
.wrapper2 .text2{
  padding:50px;
}
.wrapper2 .text2 .heading2{
  margin:0px 0px 40px 0px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
}
 /*skillsection*/
 
/*サービス*/

.servicesSection {
  background-size: cover;
  padding: 100px 0;

}

.innerWidth {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
  overflow: hidden;
}

.sectionTitle {
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 30px;
}

.boarder {
  width: 160px;
  height: 2px;
  background: var(--orange-soda);
  margin: 40px auto;
}

.servicesContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.serviceBox {
  max-width: 33.33%;
  padding: 10px;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
}

.serviceIcon {
  display: inline-block;
  width: 70px;
  height: 70px;
  border: 3px solid var(--orange-soda);
  color: #ffffff;
  transform: rotate(45deg);
  margin-bottom: 30px;
  margin-top: 15px;
  transition: 0.3s linear;
}
.serviceIcon img{
  width:55px;
  transform: rotate(-45deg);
}
.serviceIcon i {
  line-height: 70px;
  transform: rotate(-45deg);
  font-size: 25px;
}

.serviceBox:hover .serviceIcon {
  background: var(--orange-soda);
  color: #ddd;
}

.serviceTitle {
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-family: 'DotGothic16', sans-serif;
  font-weight: 900;
}

.serviceDesc {
  font-size: 14px;
  font-weight: 900;
  font-family: 'DotGothic16', sans-serif;
  text-align: left;

}

@media screen and (max-width: 960px) {
  .serviceBox {
      max-width: 45%;
  }
}

@media screen and (max-width: 768px) {
  .serviceBox {
      max-width: 50%;
  }
}

@media screen and (max-width: 480x) {
  .serviceBox {
      max-width: 100%;
  }
}

/*タイムライン*/
.timeline {
  color: #fff;
}
.timeline h1,
.timeline ul li .content h2 {
  text-shadow: 1px 1px 1px rgba(56, 56, 56, 0.5);
}

.timeline ul {
  
  padding: 50px 0;
}
.timeline ul li {
  background: var(--orange-soda);
  position: relative;
  margin: 0 auto;
  width: 5px;
  padding-bottom: 40px;
  list-style-type: none;
}
.timeline ul li:last-child {
  padding-bottom: 7px;
}
.timeline ul li:before {
  content: "";
  background: #faf8eb;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  width: 20px;
  height: 20px;
  border: 3px solid #000000;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.timeline ul li .hidden {
  opacity: 0;
}
.timeline ul li .content {
  background: #ffffff;
  position: relative;
  top: 7px;
  width: 450px;
  padding: 20px;
}
.timeline ul li .content h2 {
  color: #fff;
  padding-bottom: 10px;
  text-align: center;
  font-family: 'Press Start 2P', cursive;

}
.timeline ul li .content p {
  text-align: left;
  font-family: 'DotGothic16', sans-serif;
  font-weight: 900;
}
.timeline ul li .content:before {
  content: "";
  background: #bababa;
  position: absolute;
  top: 0px;
  width: 38px;
  height: 5px;
}
.timeline ul li:nth-child(odd) .content {
  left: 50px;
  background: var(--orange-soda);
  border-radius: 5px;
}
.timeline ul li:nth-child(odd) .content:before {
  left: -38px;
}
.timeline ul li:nth-child(even) .content {
  left: calc(-450px - 45px);
  background: rgb(0, 119, 255);
  border-radius: 5px;
  
}
.timeline ul li:nth-child(even) .content:before {
  right: -38px;
}

/* -------------------------
   ----- Media Queries ----- 
   ------------------------- */
@media screen and (max-width: 1020px) {
  .timeline ul li .content {
    width: 41vw;
  }

  .timeline ul li:nth-child(even) .content {
    left: calc(-41vw - 45px);
  }
}
@media screen and (max-width: 700px) {
  .timeline ul li {
    margin-left: 20px;
  }
  .timeline ul li .content {
    width: calc(100vw - 100px);
  }
  .timeline ul li .content h2 {
    text-align: initial;
  }
  .timeline ul li:nth-child(even) .content {
    left: 45px;
    background: #67CC8E;
    background: -webkit-linear-gradient(-45deg, #56BC83, #67CC8E);
    background: linear-gradient(-45deg, #56BC83, #67CC8E);
  }
  .timeline ul li:nth-child(even) .content:before {
    left: -33px;
  }
}





/*-----------------------------------*\
  #SKILLS
\*-----------------------------------*/

.skills .section-title { margin-block-end: 20px; }

.skills .section-text { margin-block-end: 70px; }

.skills-list {
  display: grid;
  gap: 25px;
}

.skills-item .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block-end: 10px;
}
.skills-item h3{
  font-family: 'Press Start 2P', cursive;
  font-size: 15px;
}
.skills-title,
.skills-data {
  color: var(--white);
  font-size: var(--fs-5);
  font-family: var(--ff-barlow);
  font-weight: var(--fw-600);
  font-family: 'DotGothic16', sans-serif;
}

.skills-progress-box {
  background-color: var(--white);
  height: 8px;
  border-radius: var(--radius-10);
}

.skills-progress {
  background-color: var(--orange-soda);
  height: 100%;
  border-radius: inherit;
}



/*-----------------------------------*\
  ポートフォリオ
\*-----------------------------------*/
.wrappers{
max-width: 1050px;
margin-right: auto;
margin-left: auto;
padding: 50px 25px;
}
.blog { 
  padding-block-end: 120px;
 }

.blog .section-title { 
  margin-block-end: 20px;
 }

.blog .section-text { 
  margin-block-end: 80px;
 }

.blog-list {
  display: grid;
  gap: 40px;
}

.blog-card { 
  font-family: var(--ff-barlow);
 }

.blog-card .card-banner {
  background-color: var(--independence);
  border-radius: var(--radius-15);
  overflow: hidden;
  margin-block-end: 20px;
}

.blog-card .card-banner img { 
  transition: var(--transition-2); 
}

.blog-card .card-banner a:is(:hover, :focus) img { 
  transform: scale(1.1);
 }

.blog-card .card-banner:focus-within {
  outline: 2px solid var(#fff);
  outline-offset: 4px;
}

.blog-card .card-tag {
  color: var(--orange-soda);
  margin-block-end: 5px;
}

.blog-card .card-title {
  color: var(--white);
  font-weight: var(--fw-600);
  line-height: 1.3;
}

.blog-card .card-title a { transition: var(--transition-2); }

.blog-card .card-title a:is(:hover, :focus) { color: var(--orange-soda); }

/*galleryページ*/
.gallery{
  columns: 4;/*段組みの数*/
  padding:0 15px;/*ギャラリー左右に余白をつける*/
  }
  
  .gallery li {
      margin-bottom: 20px;/*各画像下に余白をつける*/
  }
  
  /*ギャラリー内のイメージは横幅100%にする*/
  .gallery img{
    width:100%;
    height:auto;
    vertical-align: bottom;/*画像の下にできる余白を削除*/}
  
  /*　横幅900px以下の段組み設定　*/
  @media only screen and (max-width: 900px) {
    .gallery{
    columns:3;
    } 
  }
  
  @media only screen and (max-width: 768px) {
    .gallery{
    columns: 2;
    } 
    .wrappers h1{
      font-size: 20px;
    }
  }
  @media screen and (max-width:700px) {
    .wrappers h1{
      font-size: 30px;
    }
  }
  
  
  /*========= レイアウトのためのCSS ===============*/
  
  ul{
    margin:0;
    padding: 0;
    list-style: none;
  }
  
  a{
    
  }
  
  a:hover,
  a:active{
    text-decoration: none;
  }
  
  h1{
    text-align: center;
    font-size:40px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin:30px 0;
  }
  
  p{
    margin:0 10px 10px 10px;
    word-wrap : break-word;
  }
  
  /*画像を出現させるアニメーションCSS*/
  
  .flipLeft{
  animation-name: flipLeft;
  animation-duration:0.5s;
  animation-fill-mode:forwards;
  perspective-origin: left center;
  opacity: 0;
  }
  
  @keyframes flipLeft{
    from {
     transform: perspective(600px) translate3d(0, 0, 0) rotateY(30deg);
    opacity: 0;
    }
  
    to {
    transform: perspective(600px) translate3d(0, 0, 0) rotateY(0deg);
    opacity: 1;
    }
  }


  /*お問い合わせ*/
  .contact-card {
    background-color: var(--midnight-blue);
    padding: 50px 25px;
    border-radius: var(--radius-20);
  }
  
  .contact-card .card-subtitle {
    color: var(--orange-soda);
    font-family: var(--ff-barlow);
    font-size: var(--fs-4);
    font-weight: var(--fw-600);
  }
  
  .contact .section-title {
    text-align: left;
    margin-block-end: 30px;
  }
  
  .contact-form { margin-block-end: 50px; }
  
  .contact-input {
    background-color: var(--white);
    color: var(--manatee);
    border-radius: var(--radius-5);
    padding: 15px 25px;
    font-size: var(--fs-5);
    margin-block-end: 15px;
  }
  
  .contact-input::placeholder { color: inherit; }
  
  textarea.contact-input {
    resize: vertical;
    min-height: 100px;
    height: 180px;
    max-height: 300px;
  }
  
  .btn-submit {
    background-color: var(--orange-soda);
    color: var(--white);
    font-family: var(--ff-barlow);
    font-size: var(--fs-5);
    width: 100%;
    padding: 10px;
    border-radius: var(--radius-5);
    transition: var(--transition-2);
  }
  
  .btn-submit:is(:hover, :focus) {
    background-color: var(--white);
    color: var(--black);
  }
  
  .contact-item {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  
  .contact-item:not(:last-child) { margin-block-end: 20px; }
  
  .contact-icon {
    background-color: var(--glaucous);
    font-size: 2.4rem;
    padding: 20px;
    border-radius: 50%;
  }
  
  .contact-item-title {
    color: var(--white);
    font-family: var(--ff-barlow);
    font-size: var(--fs-4);
    font-weight: var(--fw-600);
  }
  
  .contact-item-link { transition: var(--transition-1); }
  
  .contact-item-link:not(address):is(:hover, :focus) { color: var(--white); }


/*-----------------------------------*\
  #FOOTER
\*-----------------------------------*/

.footer {
  background-color: var(--independence);
  padding-block: 60px;
}

.copyright {
  max-width: max-content;
  margin-inline: auto;
  margin-block-end: 10px;
}

.copyright-link {
  display: inline-block;
  transition: var(--transition-2);
  font-weight: var(--fw-600);
}

.copyright-link:is(:hover, :focus) { color: var(--white); }

.footer-list {
  max-width: max-content;
  margin-inline: auto;
}

.footer-list * { display: inline-block; }

.footer-list > li:not(:last-child) { margin-inline-end: 40px; }

.footer-link { transition: var(--transition-2); }

.footer-link:is(:hover, :focus) { color: var(--white); }





/*-----------------------------------*\
  #BACK TO TOP
\*-----------------------------------*/

.back-to-top {
  color: var(--white);
  font-size: 1.3rem;
  position: fixed;
  bottom: 160px;
  right: -30px;
  transform: rotate(0.25turn);
  opacity: 0;
  visibility: hidden;
  transition: var(--transition-2);
  z-index: 1;
}

.back-to-top.active {
  right: -5px;
  opacity: 1;
  visibility: visible;
}

.back-to-top::after {
  content: "";
  position: absolute;
  top: 10px;
  left: calc(100% + 7px);
  width: 100px;
  height: 1px;
  background-color: var(--white);
}





/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/

/**
 * responsive for larger than 600px screen
 */

@media (min-width: 600px) {

  /**
   * PORTFOLIO
   */

  .portfolio-list li:nth-child(even) .card-content { margin-inline-start: 50%; }

}





/**
 * responsive for larger than 768px screen
 */

@media (min-width: 768px) {

  /**
   * PORTFOLIO
   */

  .portfolio-card {
    background-size: 115%;
    padding-inline: 80px;
  }

  .portfolio-card:is(:hover, :focus) { background-size: 130%; }



  /**
   * SKILLS, BLOG
   */

  .skills-list,
  .blog-list {
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
  }

}





/**
 * responsive for larger than 992px screen
 */

@media (min-width: 992px) {


  :root {
    --fs-1: 6.4rem;
    --fs-2: 3.5rem;
    --fs-3: 3.6rem;
    --section-padding: 80px;

  }



  /**
   * REUSED STYLE
   */

  .container {
    max-width: 1050px;
    margin-inline: auto;
  }



  /**
   * HEADER
   */

  .nav-toggle-btn { display: none; }

  .header,
  .header.nav-active {
    background-color: transparent;
    box-shadow: none;
    height: unset;
    padding-block: 30px;
  }

  .header.active {
    background-color: var(--space-cadet);
    box-shadow: var(--shadow);
    padding-block: 20px;
  }

  .navbar { all: unset; }

  .navbar-list {
    display: flex;
    align-items: center;
    gap: 30px;

  }
  .navbar-list li {
    font-family: 'DotGothic16', sans-serif;

  }
  .navbar .btn {
    margin-block-start: 0;
    --padding: 7px 30px;
  }



  /**
   * HERO
   */

  .hero .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }

  .hero-content { text-align: left; }

  .btn-group { justify-content: flex-start; }

  .hero-title span { font-size: 3rem; }

  .hero-title {
    --fs-5: 2.2rem;
    margin-block-end: 25px;
  }

  .hero-text {
    margin-block-end: 25px;
    margin-left: -5.1px;
    font-size: var(--fs-5);
    font-family: 'DotGothic16', sans-serif;

  }
  .hero-content .hero-text {
    font-family: "Fira Sans", sans-serif;

  }
  .hero-banner {
    position: relative;
    margin-block-end: 0;
    order: 1;
    width: 340px;
    height: 390px;
    margin-inline: 0;
    margin-inline-start: auto;
  }

  .elem {
    position: absolute;
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: var(--white);
    border-radius: var(--radius-10);
    padding: 20px;
  }

  .elem-1 {
    top: 20px;
    left: -130px;
  }

  .elem-1 .elem-title { color: var(--vivid-sky-blue); }

  .elem-2 {
    bottom: 30px;
    right: -80px;
  }

  .elem-2 .elem-title { color: var(--fiery-rose); }

  .elem-title {
    font-size: 4.5rem;
    line-height: 1.1;
  }

  .elem-text {
    max-width: 10ch;
    color: var(--black);
    font-weight: var(--fw-700);
    line-height: 1.1;
  }

  .elem-3 {
    top: -40px;
    right: -30px;
  }

  .elem-3 ion-icon {
    color: var(--minion-yellow);
    font-size: 6rem;
  }

  .rotate-img {
    display: block;
    position: absolute;
    bottom: -60px;
    left: -60px;
    width: 120px;
    animation: rotate360 15s linear infinite reverse;
  }

  @keyframes rotate360 {
    0% { transform: rotate(0); }
    100% { transform: rotate(1turn); }
  }



  /**
   * ABOUT
   */

  .about { padding-block: 40px; }

  .about .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 80px;
  }

  .about-banner {
    position: relative;
    margin-block-end: 0;
  }

  .abs-img,
  .abs-icon {
    display: block;
    position: absolute;
  }

  .abs-img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: inherit;
    bottom: -150px;
    left: -100px;
  }

  .abs-icon {
    font-size: 5rem;
    padding: 20px;
    border-radius: inherit;
  }

  .abs-icon-1 {
    top: 50px;
    left: -65px;
    background-color: var(--bluetiful);
  }

  .abs-icon-2 {
    top: -40px;
    right: -40px;
    background-color: var(--gold-web-golden);
  }

  .abs-icon-3 {
    bottom: -40px;
    left: 250px;
    background-color: var(--rufous);
  }



  /* PORTFOLIO*/

  .portfolio-card .card-subtitle { font-size: var(--fs-5); }

  .portfolio-card .btn-link { --fs-6: 1.6rem; }



  /*SKILLS*/

  .skills-list { column-gap: 100px; }



  /* CONTACT*/

  .contact-card { padding: 100px; }

  .contact .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }

  .contact-form { margin-block-end: 0; }

  .contact-item { gap: 25px; }

  .contact-icon { padding: 30px; }



  /**
   * BLOG
   */

  .blog { padding-block-end: 180px; }

  .blog-list {
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
  }

  

  /**
   * FOOTER
   */

  .footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .copyright,
  .footer-list { margin-inline: 0; }

}





/*カスタムプロパティー(Youtubeから引用)*/
:root {

  

  --cadet-blue-crayola: hsl(240, 10%, 70%);
  --gold-web-golden: hsl(50, 100%, 54%);
  --vivid-sky-blue: hsl(196, 84%, 63%);
  --midnight-blue: hsl(231, 83%, 25%);
  --minion-yellow: hsl(50, 100%, 64%);
  
  --orange-soda: hsl(7, 96%, 61%);
  --space-cadet: hsl(243, 23%, 18%);
  --fiery-rose: hsl(353, 83%, 65%);
  --klein-blue: hsl(230, 80%, 39%);
  --bluetiful: hsl(222, 88%, 55%);
  --glaucous: hsl(230, 52%, 63%);
  --manatee: hsl(254, 7%, 65%);
  --rufous: hsl(2, 85%, 35%);
  --black: hsl(0, 0%, 0%);
  --white: hsl(0, 0%, 100%);

  

  --ff-open-sans: 'Open Sans', sans-serif;
  --ff-barlow: 'Barlow', sans-serif;
  --ff-poppins: 'Poppins', sans-serif;

  --fs-1: 3.5rem;
  --fs-2: 3rem;
  --fs-3: 2.4rem;
  --fs-4: 2rem;
  --fs-5: 1.8rem;
  --fs-6: 1.3rem;

  --fw-600: 600;
  --fw-700: 700;

  

  --radius-5: 5px;
  --radius-10: 10px;
  --radius-15: 15px;
  --radius-20: 20px;

  

  --section-padding: 60px;

  

  --shadow: 0 -5px 10px var(--manatee);

  

  --transition-1: 0.05s ease;
  --transition-2: 0.25s ease;
  --cubic-out: cubic-bezier(0.33, 0.85, 0.56, 1.02);

}